{% extends 'base.html' %}
{% block title %}Downloads{% endblock title %}
{% block body %}


<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
          font-size: 15px;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius:24px
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 24px;
    
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
        border-radius:24px
    }
    </style>
{% if user.is_authenticated %}




<div class="login-form">


    <div class="form-group">
        <h4 class="form-control" style="background-color:rgb(153, 243, 8); color:red;text-align:center;">You are almost done with order !!!
        </h4>
    </div>
</div>

<div class="container">
    <div class="row  my-4">
        {% for post in file %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{post.adminupload.url}}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Thumbnail">
                <title>{{post.title}}</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    <bold></bold>
                </text>
                <div class="card-body">
                    <p class="card-text">An ice cream cone, poke (Ireland and Scotland) or cornet is a dry, cone-shaped pastry, usually made of a wafer similar in texture to a waffle, which enables ice cream to be held in the hand and eaten without a bowl or spoon. Various types of ice cream cones include wafer (or cake) cones, waffle cones, and sugar cones.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{post.adminupload.url}}" class="btn btn-lg btn-success px-4"
                                download="{{post.adminupload.url}}">Download ice-cream</a>
                            <!-- <button type="button" class="btn btn-lg btn-success px-4">Buy</button> -->
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>
{% else %}
<div class="login-form " >
<p    style="text-align: center;color:blueviolet">you are not logged in</p>
 <p class="text-center px-10"><a    class="btn btn-primary btn-block" href="/login">Log in</a></p>
 <br>
 <p class="text-center"><a class="btn btn-primary btn-block mx-10"   href="/register">Create an Account</a></p>
</div>
          {%   endif  %}

{%endblock body%}
