{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<div class="container  my-1 px-0">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner px-6">
        <div class="carousel-item active">
          <img src="/static/img/7.png" class="d-block w-100" alt="..." height=400px>
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color:rgb(10, 6, 10)">Couples special</h3>
            <p style="background-color:rgb(231, 21, 14)">Without ice cream, there would be darkness and chaos.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="/static/img/5.png" class="d-block w-100" alt="..." height=400px>
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color:rgb(10, 6, 10)">Creamy for all</h3>
            <p  style="background-color:rgb(238, 38, 24)"> Life is like an ice cream, enjoy it before it melts.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/6.png" class="d-block w-100" alt="..." height=400px>
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color:rgb(10, 7, 6)">Family Pack </h3>
            <p  style="background-color:rgb(228, 50, 18)">You can't buy happiness, but you can buy ice cream and that is pretty much the same thing.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<h4 class="my-4" style="background-color:cyan;" align="center">Well,  hello Catoptrophilias</h4>

<!-- Ice cream options  below  -->

<div class="container">
  <div class="row  my-4">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/img/2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <h4 style="text-align:center;">Lemon Sorbet </h4>
        </text>
        <div class="card-body">
          <p class="card-text">Fudge is a special one. It is a decadent treat with yummy fudgy chunks and sweet swirls of rich caramel in the base of the ice cream. The coffee flavor comes from a rich brew that goes perfectly with the sweetness of the caramel and chocolate of the fudge.</p>
          <div class=" d-flex justify-content-between  ">
            <div class="btn-group">
              <a href="/raZorpay" class="btn btn-lg btn-success px-4 ">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/img/18.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <h4 style="text-align:center;">Pretzel </h4>
        </text>
        <div class="card-body">
          <p class="card-text">The ice cream is better for you if you have a sweet tooth but don’t want the calories that come with the dairy option. It is also perfect for people who are lactose intolerant or have a gluten allergy. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/raZorpay" class="btn btn-lg btn-success px-4 ">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/img/19.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <h4 style="text-align:center;">Strawberry</h4>
        </text>
        <div class="card-body">
          <p class="card-text">For those people who are at risk for diabetes or currently suffer from it, this ice cream is a great way to indulge themselves once in a blue moon. There are ice cream treats available that come with no sugar added. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/raZorpay" class="btn btn-lg btn-success px-4 ">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/img/14.png" class="bd-placeholder-img card-img-top" width="100%" height="225"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <h4 style="text-align:center;">Caramel</h4>
        </text>
        <div class="card-body">
          <p class="card-text">Mint chocolate chip is a flavor that is getting more and more popular by the day. The chocolate and mint pair is a beloved option that everyone just loves. This ice cream comes with dark chocolate chips mixed in through with the minty green ice cream. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/raZorpay" class="btn btn-lg btn-success px-4 ">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/img/16.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <h4 style="text-align:center;">Coffee</h4>
        </text>
        <div class="card-body">
          <p class="card-text">Gelato is similar to ice cream in that it’s made with dairy, but it differs from ice cream in that it’s made with milk instead of cream. It also doesn’t include egg yolks. </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/raZorpay" class="btn btn-lg btn-success px-4 ">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="/static/img/17.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">
          <h4 style="text-align:center;">Raspberry</h4>
        </text>
        <div class="card-body">
          <p class="card-text">Dairy ice creams come with all the goodness of rich, smooth cream that everyone loves. If you want to indulge yourself, do it right with full dairy ice cream.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/raZorpay" class="btn btn-lg btn-success px-4 ">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock body %}
