{% extends 'base.html' %}
{% block title %} Logout {% endblock title %}
{% block body %}
<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
          font-size: 15px;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius:24px
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 24px;
    
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
        border-radius:24px
    }
    </style>
    
{% if user.is_authenticated %}
<h2>Ok</h2>

{% else %}

<div class="login-form" >
<p    style="text-align: center;">you are not logged in</p>
 <p class="text-center"><a class="btn btn-primary btn-block" href="/login">Log in</a></p>
 <br>
 <p class="text-center"><a class="btn btn-primary btn-block "   href="/register">Create an Account</a></p>
</div>
{%   endif  %}
{% endblock body%}